.main{
    width: 100%;
    height: 200px;
    background-color: aqua;
}



.loginform{
    width: 400px;
    height: 500px;
    background-color: aqua;
    margin: auto;
}




.loginform input, button{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}      
.slider{
    width: 100%;
    position: relative;
}
.space{
    padding: 5%;
    text-align: center;
}
.about{
    padding: 5%;
    text-align: center;
}
.image{
    width:60%;
    height: 60%;
}
.form{
    width: 400px;
    height: 500px;
    margin: auto;
}
.coffee{
    display:inline-flex;
}
.coffee2{
    display: inline-flex;
}
.beans{
    display: inline-flex;
}

