.main{
    width: 100%;
    height: 200px;
    background-color: aqua;
}
.loginform{
    width: 400px;
    height: 500px;
    background-color: aqua;
    margin: auto;
    text-align: center;
}
.loginform input, button{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}      
.slider{
    width: 100%;
    position: relative;
}
.space{
    padding: 5%;
    text-align: center;
}
.about{
    padding: 5%;
    text-align: center;
}
.image{
    width:60%;
    height: 60%;
}
.form{
    width: 400px;
    height: 500px;
    margin: auto;
}
.coffee{
    display:inline-flex;
}
.coffee2{
    display: inline-flex;
}
.beans{
    display: inline-flex;
}
.nav-bar{
    padding: 1%;
    color: black;
}
.line{
    width: 100%;
    height: 10%;
    color: black;
    padding: 10%;
}
.prodcutimage{
    width: 200px;
    height: 200px;

}
.productshow{
    width: 200px;
    background-color: antiquewhite;
    margin: 20px;
    border: 1px solid rgb(235, 235, 235);
    padding: 20px;

}
.product-div{
    width: 100%;
    display: inline-flex;
}
.pdetails{
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
    display: inline-flex;
}
.pdetails-img{
    width: 40%;
    height: 100%;
    padding: 20px;

}
.pdetails-img img{
    width: 80%;
    height: 80%;
}
.pdetails-text{
    width: 15%;
    height: 50%;
     padding: 10px;
}

.pdetails-pay{
    padding: 20px;
    width: 25%;
    height: 1000%;
    
}
